Binaries
__ExternalActors__
__ExternalObjects__
Collections
Developers
FirstPerson
FirstPersonArms
FPWeapon
LevelPrototyping
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace